In [7]:
import pandas as pd
df= pd.read_csv('ingr_per_group(1).csv')
df[:5] 
#alleen eerste vijf worden hier laten zien van de tabel

   Unnamed: 0             ingredient  group
0           0  (Belgische) mayonaise      1
1           1         (arachide)olie      1
2           2        (houdbare) melk      1
3           3            (olijf)olie      1
4           4   (scharrel)braadworst      1