In [11]:
import pandas as pd
ing_per_group= pd.read_csv('tabellen/ingr_per_group(1).csv')
ing_per_group[:5] 
#alleen eerste vijf worden hier laten zien van de tabel

   Unnamed: 0             ingredient  group
0           0  (Belgische) mayonaise      1
1           1         (arachide)olie      1
2           2        (houdbare) melk      1
3           3            (olijf)olie      1
4           4   (scharrel)braadworst      1

In [12]:
data_tags = pd.read_csv('tabellen/data_tags.csv')
data_tags[:5]

   Unnamed: 0                         recipe               tag
0           0  Kruidnoten met choco-discodip          hollands
1           1  Kruidnoten met choco-discodip             gebak
2           2  Kruidnoten met choco-discodip             gebak
3           3  Kruidnoten met choco-discodip       sinterklaas
4           4  Kruidnoten met choco-discodip  sinterklaasavond

In [13]:
data_recipes=pd.read_csv('tabellen/data_recipes.csv')
data_recipes[:5]

,Unnamed: 0,title,persons,time,calories,stars,url,image
0,0,Kruidnoten met choco-discodip,4,25,260,0,https://www.ah.nl/allerhande/recept/R-R1195893...,https://static.ah.nl/static/recepten/img_RAM_P...
1,0,Kruidnoten in marsepein,4,25,265,0,https://www.ah.nl/allerhande/recept/R-R1195892...,https://static.ah.nl/static/recepten/img_RAM_P...
2,0,Kruidnoten met chocodips,4,25,335,0,https://www.ah.nl/allerhande/recept/R-R1195891...,https://static.ah.nl/static/recepten/img_RAM_P...
3,0,Pepernotentaart met marsepeinstrik,10,30,560,0,https://www.ah.nl/allerhande/recept/R-R1195887...,https://static.ah.nl/static/recepten/img_RAM_P...
4,0,Perencake,12,10,265,0,https://www.ah.nl/allerhande/recept/R-R1195790...,https://static.ah.nl/static/recepten/img_RAM_P...

In [14]:
data_nutricions=pd.read_csv('tabellen/data_nutritions.csv')
data_nutricions[:5]

   Unnamed: 0                         recipe        nutrition     value
0           0  Kruidnoten met choco-discodip          energie  260 kcal
1           1  Kruidnoten met choco-discodip     koolhydraten      34 g
2           2  Kruidnoten met choco-discodip  waarvan suikers      22 g
3           3  Kruidnoten met choco-discodip          natrium    200 mg
4           4  Kruidnoten met choco-discodip            eiwit       3 g

In [16]:
data_ingr=pd.read_csv('tabellen/data_ingr.csv')
data_ingr[:5]

ParserError: Error tokenizing data. C error: Expected 5 fields in line 2699, saw 9