In [24]:
import pandas as pd

In [25]:
data_tags = pd.read_csv('data_tags.csv')
data_recipes = pd.read_csv('data_recipes.csv')
data_tags

       Unnamed: 0                            recipe               tag
0               0     Kruidnoten met choco-discodip          hollands
1               1     Kruidnoten met choco-discodip             gebak
2               2     Kruidnoten met choco-discodip             gebak
3               3     Kruidnoten met choco-discodip       sinterklaas
4               4     Kruidnoten met choco-discodip  sinterklaasavond
...           ...                               ...               ...
32309       46030   Ceviche met sint-jakobsschelpen       voorgerecht
32310       46036  Biefstuk met rodewijnsaus en ham              snel
32311       46037  Biefstuk met rodewijnsaus en ham       mediterraan
32312       46038  Biefstuk met rodewijnsaus en ham      hoofdgerecht
32313       46039  Biefstuk met rodewijnsaus en ham            bakken

[32314 rows x 3 columns]

In [32]:
vis = ['zalm', 'vis', 'tonijn', 'schelp', 'haring', 'garnaal', 'garnalen',
       'tonnato', 'kibbeling', 'lekkerbek', 'kabeljauw', 'makreel', 'sardine', 'fish', 'zeevruchten', 'gamba', 
      'calamaris', 'mossel', 'coquilles', 'kreeft', 'krab', 'oester', 'lobster']

In [33]:
for i in data_recipes['title']:
    for y in vis:
        if y in i:
            new_row = {'Unnamed: 0': '0', 'recipe': i, 'tag': 'vis'}
            data_tags.loc[len(data_tags)] = new_row

In [34]:
data_tags_vis = data_tags

In [35]:
data_tags_vis
data_tags_vis.to_csv('data_tags_vis.csv')