# Tussenproduct 1 : Data schoonmaak
## De Haagse Hogeschool
## Toegepaste Wiskunde


Groep 3  
Fenne van Agthoven, Phealana Fiamingo, Araksan Hassan, Kika van Vliet  
Datum: 22-3-2024

### Functie voor het schoonmaken van de gegeven ingrediënten

In [24]:
import pandas as pd
# Lees de dataframes in
ingr_per_group = pd.read_csv('tabellen/ingr_per_group(1).csv')
data_ingr = pd.read_csv('tabellen/data_ingr.csv')
ingr_per_group['ingredient'] = ingr_per_group['ingredient'].str.lower() # Zet alle ingredientnamen om in kleine letters
data_ingr['ingredient'] = data_ingr['ingredient'].str.lower()
ingr_group3 = ingr_per_group[(ingr_per_group['group'] == 3)] # Selecteer alleen de ingrediënten die bij onze groep (3) horen
onze = data_ingr[data_ingr['ingredient'].isin(ingr_group3['ingredient'])] # Filter in de dataset de ingrediënten die bij onze groep horen

In [25]:
#onze.unit.value_counts()
#onze[onze.unit == 'liter'].ingredient.value_counts()

alle_units = set(onze['unit']) # Een set van alle unieke eenheden uit de dataset

# Een omrekentabel voor de verschillende eenheden naar gram
convert_tabel = [
    ['el', 10],
    ['ml', 0.92], 
    ['tl', 2], 
    ['kg', 1000], 
    ['schaal', 380], 
    ['liter', 920],
    ['zak', 1000],
    ['struik', 900],
    ['zakje', 950],
    ['krop', 800],
    ['bakje', 850],
    ['plakje', 50],
    ['bak', 700],
    ['pakje', 90],
    ['stukje', 80],
    ['blik', 920],
    ['blikje', 85],
    ['bakjes', 870],
    ['plak', 65],
    ['cupje', 70],
    ['stuk', 950],
    ['stronk', 850],
    ['sneetje', 55],
    ['pak', 700],
    ['plakken', 60],
    ['zakjes', 960],
    ['vel', 70],
    ['flesje', 780],
    ['friszoete stevige', 1020],
    ['bol', 920],
    ['friszure', 1000],
    ['kruimige', 980],
    ['potje', 850],
    ['schaaltjes', 910],
    ['grote', 900],
    ['zakken', 1100],
    ['doos', 1000],
    ['x 750 g', 750],
    ['friszoete', 1040],
    ['x 4 plakken', 400]
]

convert_df = pd.DataFrame(convert_tabel, columns=['eenheid', 'keer']) # Maakt van de omrekentabel een dataframe
df_onze = onze.merge(convert_df, how='left', left_on= 'unit', right_on='eenheid') # Voeg omrekentabel DataFrame samen met ons DataFRame
df_onze.keer = df_onze.keer.fillna(1) # Vul de NaN waardes met 1
df_onze.quantity = df_onze.quantity * df_onze.keer # Reken de hoeveelheden om naar gram
df_onze.unit = 'g' # Verander de eenheid naar gram
df_onze = df_onze.drop(columns=['eenheid','keer']) # Verwijder de onnodige kolommen

          

# Tel hoevaak elk ingredient voorkomt
a = df_onze.ingredient.value_counts().reset_index().rename(columns={"index": "value", 0: "count"})

In [27]:
tomaat_t = ("tomaat", set([word for word in df_onze["ingredient"] if "toma" in word and "blik" not in word and "puree"]))
parma_t = ("parmezaanse kaas", set([word for word in df_onze["ingredient"] if "parm" in word and "prosciutto" not in word]))
paprika_t = ("paprika", set([word for word in df_onze["ingredient"] if "paprika" in word]))
paturain_t = ("paturain", set([word for word in df_onze["ingredient"] if "paturain" in word]))
olijven_t = ("olijven", set([word for word in df_onze["ingredient"] if "olij" in word and "olie" not in word]))
olijfolie_t = ("olijfolie", set([word for word in df_onze["ingredient"] if "olijfolie" in word]))
oreo_t = ("oreo", set([word for word in df_onze["ingredient"] if "oreo" in word]))
aardappel_t = ("aardappel", set([word for word in df_onze["ingredient"] if "pommes primeur" in word or "eigenheimer" in word or "aardappelen" in word]))
a_schijfjes_t = ("aardappelschijfjes", set([word for word in df_onze["ingredient"] if "aardappelschijfjes" in word]))
a_partjes_t = ("aardappelpartjes", set([word for word in df_onze["ingredient"] if "aardappelpartjes" in word]))
a_puree_t = ("aardappelpuree", set([word for word in df_onze["ingredient"] if "aardappelpuree" in word]))
ciabatta_t = ("ciabatta", set([word for word in df_onze["ingredient"] if "ciaba" in word]))
arachide_t = ("arachide", set([word for word in df_onze["ingredient"] if "arachide" in word]))
framboos_t = ("framboos", set([word for word in df_onze["ingredient"] if "framboos" in word]))
sp_peper_t = ("spaanse peper", set([word for word in df_onze["ingredient"] if "spaanse peper" in word]))
mayo_t = ("mayonaise", set([word for word in df_onze["ingredient"] if "mayo" in word]))
appel_t = ("appels", set([word for word in df_onze["ingredient"] if "pink lady" in word or "royal gala" in word or word == 'appel']))
amandel_melk_t = ("amandeldrink", set([word for word in df_onze["ingredient"] if "amandel drink" in word or "amandelmelk" in word]))
amandel_koek_t = ("amandelkoekjes", set([word for word in df_onze["ingredient"] if "amandelkoekjes" in word]))

ingr_tuple_lijst = [tomaat_t, parma_t, paprika_t, paturain_t, olijven_t, olijfolie_t, oreo_t, ciabatta_t, framboos_t, sp_peper_t, 
                    mayo_t, aardappel_t, a_schijfjes_t, a_partjes_t, a_puree_t, appel_t, amandel_melk_t, amandel_koek_t]

for x in df_onze["ingredient"]:
    for y in ingr_tuple_lijst:
        if x in y[1]:
            df_onze["ingredient"].replace(x, y[0], inplace=True)
            
data_ingr_res = data_ingr.merge(df_onze, how='left',on='Unnamed: 0')
data_ingr_res['recipe'] = data_ingr_res['recipe_y'].fillna(data_ingr_res['recipe_x'])
data_ingr_res['ingredient'] = data_ingr_res['ingredient_y'].fillna(data_ingr_res['ingredient_x'])
data_ingr_res['quantity'] = data_ingr_res['quantity_y'].fillna(data_ingr_res['quantity_x'])
data_ingr_res['unit'] = data_ingr_res['unit_y'].fillna(data_ingr_res['unit_x'])
data_ingr_res.drop(columns=['recipe_x', 'recipe_y', 'ingredient_x', 'ingredient_y', 'quantity_x', 'quantity_y', 'unit_x', 'unit_y'], inplace=True)
data_ingr_res

,Unnamed: 0,recipe,ingredient,quantity,unit
0,0,Kruidnoten met choco-discodip,melkchocolade,100.0,g
1,1,Kruidnoten met choco-discodip,kruidnoten,100.0,g
2,2,Kruidnoten met choco-discodip,discodip,2.0,el
3,3,Kruidnoten in marsepein,blanke marsepein,150.0,g
4,4,Kruidnoten in marsepein,ongezouten roomboter,15.0,g
...,...,...,...,...,...
49814,71804,Biefstuk met rodewijnsaus en ham,olijfolie,4.0,el
49815,71805,Biefstuk met rodewijnsaus en ham,biefstukken,4.0,NaN
49816,71806,Biefstuk met rodewijnsaus en ham,boter,25.0,g
49817,71807,Biefstuk met rodewijnsaus en ham,serranoham,4.0,plakken
49818,71808,Biefstuk met rodewijnsaus en ham,rode wijn,200.0,ml

### Overzicht van de uitgevoerde bewerkingen.

### Reflectie op de kwaliteit van de schoongemaakte data

Bij de functie voor het schoonmaken van de dataset liepen wij tegen wat moeilijkheden aan. Bij bepaalde eenheden (zoals liter) konden ingredienten daarin ook van gewicht verschillen (water en olie), dus we konden niet een accurate omrekening maken omdat per ingredient de massadichtheid verschilde. Wij hebben het meest voorkomende ingredient met die eenheid als standaard massadichtheid genomen. Zo hebben wij alle ingredienten met die eenheid om kunnen rekenen naar gram. Dit is helaas minder accuraat voor de overige ingredienten in die eenheid. 

Wij moesten algemene namen bedenken voor diverse ingredienten. Zo hebben wij bijvoorbeeld parmigiano reggiano omgezet naar parmezaanse kaas, en verschillende soorten aardappelen naar aardappels. Dit is een goede methode om ingredienten algemener te maken, maar misschien komt dit niet overeen met de benamingen van andere groepen die dit ook gedaan hebben, het is tenslotte subjectief. Het was veel werk om deze code te schrijven aangezien het veel specifiek en handmatig werk was. We hebben wel de code die de wijzigingen implementeerd zo kort mogelijk kunnen houden.

### Een data bestand met de voorkeur voor gerechten van elk groepslid

In [21]:
recepten_per_groepslid = pd.read_csv('tabellen/Recepten_kiezen_g.csv')
recepten_per_groepslid

,Unnamed: 0,title,persons,time,calories,stars,url,image,Unnamed: 8
0,Kika:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20 wel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,Courgette carbonara,4.0,20.0,575.0,0.0,https://www.ah.nl/allerhande/recept/R-R1188954...,https://static.ah.nl/static/recepten/img_RAM_P...,NaN
3,0,Mexicaanse taco's met vis en zoete aardappel,4.0,20.0,655.0,0.0,https://www.ah.nl/allerhande/recept/R-R1188828...,https://static.ah.nl/static/recepten/img_09292...,NaN
4,0,Gegrilde-paprikasalade met feta en munt,4.0,15.0,205.0,0.0,https://www.ah.nl/allerhande/recept/R-R1188715...,https://static.ah.nl/static/recepten/img_09094...,NaN
...,...,...,...,...,...,...,...,...,...
131,0,Rodekoolsteak met blauwaderkaas en truffel,4.0,15.0,550.0,0.0,https://www.ah.nl/allerhande/recept/R-R1189726...,https://static.ah.nl/static/recepten/img_10034...,NaN
132,0,Vegan wraps met tofu en rodekoolsalade,4.0,20.0,670.0,0.0,https://www.ah.nl/allerhande/recept/R-R1195491...,https://static.ah.nl/static/recepten/img_RAM_P...,NaN
133,0,Ovenschotel met hachee rodekool en puree,4.0,30.0,630.0,0.0,https://www.ah.nl/allerhande/recept/R-R1192021...,https://static.ah.nl/static/recepten/img_12333...,NaN
134,0,Aardappel en zuurkool,4.0,15.0,405.0,0.0,https://www.ah.nl/allerhande/recept/R-R758540/...,https://static.ah.nl/static/recepten/img_00767...,NaN
135,0,Zuurkool-bonenschotel,4.0,15.0,495.0,0.0,https://www.ah.nl/allerhande/recept/R-R1189475...,https://static.ah.nl/static/recepten/img_09892...,NaN